{% extends 'auth_base.html' %}
{% load static %}
{% block auth_title %}
Wise-X Change Password
{% endblock %}
{% block auth %}
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'landing' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'new logo.png' %}" style="max-width: 125px;max-height: 100px;" alt="">
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Change Password</h5>
                  </div>

                  <form class="row g-3 needs-validation" novalidate action="." method="POST">
                      {% csrf_token %}
                      <div id="usernameinput">
                      </div>


                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password1" class="form-control" id="yourPassword" required hx-post="{% url 'check-password1' %}" hx-trigger="keyup" hx-target="#usernameinput">
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>


                      <div class="col-12">
                          <label for="yourPassword" class="form-label" id="password2">Password (again)</label>
                          <input type="password" name="password2" class="form-control" id="yourPassword" required hx-post="{% url 'check-password2' %}" hx-trigger="keyup" hx-target="#usernameinput">
                          <div class="invalid-feedback">Please enter your password!</div>
                      </div>


                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Submit</button>
                    </div>

                  </form>

                </div>
              </div>

              <!--<div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>-->

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}